.video {
  background-color: $color-default-dark;
  padding-top: 120px;
  min-height: 706px;
  position: relative;

  @include vp-1023 {
    padding-top: 70px;
    min-height: 413px;
  }

  @include vp-767 {
    padding-top: 84px;
    min-height: 384px;
  }
}

.video__title {
  margin-bottom: 9px;
  color: $text-white;

  @include vp-1023 {
    margin-bottom: 17px;
  }
}

.video__descr {
  margin: 0 auto;
  max-width: 340px;
  color: $text-white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.08px;
}

.video__conatiner {
  position: absolute;
  top: 282px;
  left: 50%;
  transform: translateX(-50%);
  width: 929px;
  height: 522px;

  @include vp-1023 {
    width: 503px;
    height: 282px;
  }

  @include vp-767 {
    width: 288px;
    height: 162px;
  }
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid $color-default-action;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-default-action;

  @include vp-1023 {
    width: 90px;
    height: 90px;
  }

  @include vp-767 {
    width: 65px;
    height: 65px;
  }

  & svg {
    transform: translateX(3px);
    color: $text-black;
    width: 13px;
    height: 18px;

    @include vp-1023 {
      width: 18px;
      height: 25px;
    }

    @include vp-767 {
      width: 13px;
      height: 18px;
    }
  }

  @include hover-focus {
    outline: none;
    background-color: transparent;
    border: 2px solid $color-default-action;

    & svg {
      color: $text-action;
    }
  }

  @include active {
    background-color: transparent;
    border: 2px solid $color-default-white;

    & svg {
      color: $text-white;
    }
  }

  &:active {
    background-color: transparent;
    border: 2px solid $color-default-white;

    & svg {
      color: $text-white;
    }
  }
}
