$white-color: #ffffff;
$black-color: #000000;
$bg-header-color: #e7e8ed;
$bg-about-color: #f7f7f7;
$bg-olivia-color: #ffffff;
$bg-boriosa-color: #ffffff;
$bg-hulot-color: #ffffff;
$bg-slider-color: #f7f7f7;
$bg-shop-color: #282f35;
$bg-form-color: #ffffff;
$bg-footer-color: #f7f7f7;
$heading-color: #353738;
$text-color: #848789;
$placeholder-color: #929292;
$active-color: #64c29e;
$hover-color: rgba(#64c29e, 0.8);
$link-color: #4d4959;
$icon-tw-review-color: #56c7ee;
$icon-tw-color: #78cdf0;
$icon-fb-color: #537bbd;
$icon-pint-color: #eb5755;


$fontfamily: "Lato", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 1130;
$md1: $mw + 15;
$md2: 839.98;
// $md2: 991.98;
$md3: 729.98;
$md4: 479.98;
