.shop {
  background-color: $bg-shop-color;

  &__body {
    display: flex;

    @media (max-width: 1099.98px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    flex: 0 1 16.666%;

    &--big {
      flex: 0 1 33.333%;
    }

    @media (max-width: 1099.98px) {
      flex: 0 1 50%;

      &:first-child {
        flex: 1 1 100%;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  &__footer {
    padding-top: 75px;
    padding-bottom: 75px;

    & .container {
      display: flex;
      justify-content: center;
    }

    @media (max-width: $md4+px) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 2.8px;
    font-weight: 700;
    color: $white-color;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid $white-color;
    background-color: transparent;
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      border: 1px solid $active-color;
      color: $active-color;
      transition: all 0.3s ease 0s;
      outline: none;
    }

    &:active {
      border: 1px solid rgba($active-color, 0.8);
      color: rgba($active-color, 0.8);
      transition: all 0.1s ease 0s;
    }

    @media (max-width: $md4+px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}

.block-shop {
  height: 100%;

  &__row {
    display: flex;
  }

  &__col {
    flex: 0 1 50%;
  }

  &__link {
    padding-bottom: 50%;
    height: auto;

    &--big {
      padding-bottom: 200.3%;
    }

    &--little {
      padding-bottom: 100%;
    }

    @media (max-width: 1099.98px) {
      padding-bottom: 50%;
    }

    @media (max-width: 1099.98px) {
      &--big {
        padding-bottom: 200.3%;
      }
    }

    @media (max-width: 1099.98px) {
      &--little {
        padding-bottom: 100%;
      }
    }
  }
}
